{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="flash-error">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <h4 class="alert-heading">Impossible de procéder au paiement!</h4>
                <p>{{ message|raw }}</p>
                <hr />
                <p class="mb-0">Veuillez consulter nos <a href="{{ path('book_list')}}" class="alert-link">livres</a> ou nos <a href="{{ path('movie_list')}}" class="alert-link">films</a>.</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {% endfor %}

    <h2>Panier</h2>

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Article</th>
                <th scope="col">Prix unitaire</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix total</th>
            </tr>
        </thead>
        <tbody>
            {% for key, item in cart %}
            <tr>
                <th scope="row">
                    <p class="m-0">{{ item.item.title }}</p>
                    {% if item.item.media == 'book' %}
                        <p class="font-weight-lighter m-0">Livre</p>
                    {% else  %}
                        <p class="font-weight-lighter m-0">{{ item.item.media }}</p>
                    {% endif %}
                </th>
                <td>
                    {{ item.item.price|number_format(2, ',', '.') }} €
                </td>
                <td>
                    <a href="{{ path('cart_decrease', {key: key})}}" title="Retirer">➖</a>
                    {{ item.qty }}
                    <a href="{{ path('cart_increase', {key: key})}}" title="Ajouter">➕</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="{{ path('cart_remove', {key: key})}}" title="Supprimer">❌</a>
                </td>
                <td>
                    {{ (item.item.price * item.qty)|number_format(2, ',', '.') }} €
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3">Total panier</td>
                <td>{{ totalPrice|number_format(2, ',', '.') }} €</td>
            </tr>
        </tbody>
    </table>

    {% if app.user and app.user.street and app.user.city and app.user.zipcode %}
        <a href="{{ path('order_checkout') }}" class="btn btn-primary btn-lg">
            <i class="bi bi-credit-card"></i>
            <span>Procéder au payement</span>
        </a>
    {% else %}
        Vous devez avoir un compte et une addresse de facturation pour commander
    {% endif %}
{% endblock %}
