{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mb-4">Liste de tous les films</h1>
    <table class="table table-bordered">
        <tr>
            <th>ASIN</th>
            <th>Titre</th>
            <th>Réalisateur</th>
            <th>Durée</th>
            <th>Prix</th>
            <th>Format</th>
            <th>Détail</th>
        </tr>
        {% for movie in movies %}
            <tr class="{{ movie.media == 'DVD' ? 'media-dvd-bloc' : 'media-bluray-bloc' }}">
                <td>{{ movie.asin }}</td>
                <td>{{ movie.title }}</td>
                <td>{{ movie.director.displayName }}</td>
                <td>{{ movie.duration }} min</td>
                <td>{{ movie.price|number_format(2, ',', '.') }} €</td>
                <td>{{ movie.media }}</td>
                <td><a href="{{ path('movie_detail', { id : movie.id }) }}">👁</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
