{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ book.title }}</h2>
    <h3>{{ book.author.firstname }} {{ book.author.lastname }} - {{ book.price }} €</h3>
    <p><strong>ISNB :</strong> {{ book.isnb }}</p>
    <p><strong>Pages :</strong> {{ book.nbPage }}</p>
    <p><strong>Date de publication :</strong> {{ book.publishDate|date('d/m/Y') }}</p>
    <p><strong>Résumé</strong></p>
    <p>{{ book.summary }}</p>

    <a href="{{ path('book_add_to_cart', { id : book.id }) }}" class="btn btn-primary">Ajouter au panier</a>
{% endblock %}
