<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Buy More{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <header class="header clearfix mb-5">
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                <div class="container">
                    <a class="navbar-brand" href="{{ path('homepage') }}">
                        <img src="/img/BuyMoreLogo.png" alt="Buy More Logo" width="200">
                    </a>
                    <ul class="nav nav-pills float-right">
                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="{{ path('cart_detail') }}">
                                <span>Panier ({{ app.session.get('cart')|length }})</span>
                            </a>
                        </li>
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="{{ path('logout') }}">Déconnexion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light disabled" href="#">{{ app.user.email }}</a>                                
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="{{ path('login') }}">Connexion</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>

        <main role="main" class="container">
            {% block body %}{% endblock %}
        </main>
        <footer class="footer">
            <div class="container">
                <span class="text-muted">© Novaway 2023</span>
            </div>
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </body>
</html>
